name: Convert OpenAPI Spec to Kong and Deploy

on:
  push:
    paths:
      - openapi.yaml

env:
  KONNECT_URL: "https://${{ vars.KONNECT_REGION }}.api.konghq.com"
  CONTROL_PLANE: ${{ vars.CONTROL_PLANE }}
  TAG: ${{ vars.TAG }}

jobs:
  lint-spec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout with retry
        run: |
          set -x
          for i in {1..5}; do
            echo "Attempt $i: actions/checkout"
            if gh workflow run; then
              break
            fi
            echo "Retrying in 15 seconds..."
            sleep 15
          done

      - name: Install OpenAPI CLI
        run: npm install -g @redocly/openapi-cli

      - name: Lint OpenAPI Spec
        run: openapi lint openapi.yaml

  deploy-oas:
    runs-on: self-hosted
    needs: lint-spec
    container:
      image: kong/deck
      options: --user root
    env:
      SPECFILE: "openapi.yaml"
    steps:
      - name: Checkout with retry
        run: |
          set -e
          for i in {1..5}; do
            echo "Attempt $i: actions/checkout"
            if gh workflow run; then
              break
            fi
            echo "Retrying in 15 seconds..."
            sleep 15
          done

      - name: Convert from OpenAPI Spec to Kong Config
        run: |
          set -x 
          deck file openapi2kong -s $SPECFILE -o ./kong.yaml --verbose 9
          deck file add-plugins -s ./kong.yaml -o ./kong.yaml kong-plugins/*
          deck file add-tags -s ./kong.yaml -o ./kong.yaml $TAG
          cat kong.yaml

      - uses: actions/upload-artifact@v4
        with:
          name: kong.yaml
          path: kong.yaml

      - name: Back up current settings
        run: |
          deck gateway dump -o ./current-kong.yaml \
            --konnect-addr $KONNECT_URL \
            --konnect-control-plane-name $CONTROL_PLANE \
            --konnect-token ${{ secrets.KONNECT_TOKEN }}
          cat ./current-kong.yaml

      - uses: actions/upload-artifact@v4
        with:
          name: backup
          path: current-kong.yaml

      - name: Diff current settings and kong.yaml
        run: |
          deck gateway diff ./kong.yaml \
            --konnect-addr $KONNECT_URL \
            --konnect-control-plane-name $CONTROL_PLANE \
            --konnect-token ${{ secrets.KONNECT_TOKEN }} \
            --select-tag $TAG

      - name: Deploy Kong Config
        run: |
          deck gateway sync ./kong.yaml \
            --konnect-addr $KONNECT_URL \
            --konnect-control-plane-name $CONTROL_PLANE \
            --konnect-token ${{ secrets.KONNECT_TOKEN }} \
            --select-tag $TAG

  test:
    runs-on: self-hosted
    needs: deploy-oas
    container:
      image: ubuntu
    steps:
      - name: Checkout with retry
        run: |
          set -x
          for i in {1..5}; do
            echo "Attempt $i: actions/checkout"
            if gh workflow run; then
              break
            fi
            echo "Retrying in 15 seconds..."
            sleep 15
          done

      - name: Install OpenAPI CLI
        run: npm install -g @redocly/openapi-cli

      - name: Lint OpenAPI Spec
        run: openapi lint openapi.yaml

      - name: Authe2e
        run: |
          chmod +x ./tests/e2e.sh

      - name: Confirmation
        run: |
          ./tests/e2e.sh nothing